/* BODY */

body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

address {
  font-style: normal;
}
/* NAVBAR */

.nav-header {
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  padding: 9.5px 10px;
  z-index: 999;
}

.nav-header img {
  height: 50px;
}

.nav-header ul {
  text-decoration: underline;
  display: inline-flex;
  gap: 30px;
}

li {
  display: inline-block;
}

/* MAIN CONTENT */

.main-section {
  background-image: url(/resources/assets/images/img-mission-background.webp);
  height: 700px;
  max-width: 90%;
  margin: 0 auto 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 70px;
  display: flex;
}

.mission-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.mission-text {
  background-color: black;
  line-height: 3rem;
  width: 100%;
}

/* ARTICLES SECTION */

.tea-section {
  height: 800px;
}

.section-header {
  padding-top: 100px;
  padding-bottom: 20px;
  line-height: 2.5em;
}

.tea-of-month {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
}

.tea-picture {
  width: 300px;
  height: 200px;
}

.locations-section {
  height: 500px;
  max-width: 90%;
  background-image: url(/resources/assets/images/img-locations-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.locations {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.locations-container {
  height: 50%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.location-info {
  background-color: black;
  flex-basis: 300px;
  line-height: 3rem;
  opacity: 1;
  padding-top: 20px;
}
